extends ../components/layout/layout
include ../components/button/button
include ../components/arrow-button/arrow-button

block body
  div.temp
    +button('button')
    br
    br
    +button('button', true)
    br
    br
    +button('button', false, true)
    br
    br
    +button('button', true, true)
    br
    br
    +arrow-button()
    br
    br
    +arrow-button(true)
