extends ../components/layout/layout
include ../components/button/button

block body
  div.temp
    +button('button')
    br
    br
    +button('button', true)
    br
    br
    +button('button', false, true)
    br
    br
    +button('button', true, true)
