extends ../components/layout/layout
include ../components/button/button
include ../components/arrow-button/arrow-button
include ../components/percentages-chart/percentages-chart

block body
  div.temp
    //+button('button')
    br
    br
    //+button('button', true)
    br
    br
    //+button('button', false, true)
    br
    br
    //+button('button', true, true)
    br
    br
    //+arrow-button()
    br
    br
    //+arrow-button(true)
    br
    br
    +percentages-chart(10)
    +percentages-chart(62)
    +percentages-chart(100)
