extends ../components/layout/layout
include ../components/button/button
include ../components/arrow-button/arrow-button
include ../components/percentages-chart/percentages-chart
include ../components/percentages-pie-chart/percentages-pie-chart
include ../components/slider/slider

block body
  div.temp
    //+button('button')
    //br
    //+button('button', true)
    //br
    //+button('button', false, true)
    //br
    //+button('button', true, true)
    //br
    //+arrow-button()
    //br
    //+arrow-button(true)
    //br
    //+percentages-chart(10)
    //+percentages-chart(62)
    //+percentages-chart(100)
    //br
    +percentage-pie-chart('pie1')
    br
    +slider(10, 50)

