.percentages-chart
  position relative
  width 95px
  height 95px

  &__text
    position absolute
    top 0
    right 0
    left 0
    bottom 0
    margin auto
    width 55px
    height 30px
    font(30, #9d9d9d, false, 26, 300)
    font-family 'Lato', sans-serif
    text-align center
