@import 'variables.styl'
@import 'fonts.styl'
@import 'mixins.styl'

@import '../app/components/**/*'

body
  margin 0
  padding 0
  // background #333

.temp
  margin 30px auto
  display block
  width 500px
  // font-family 'Lato', sans-serif
