mixin button(text, small, red)
  - small = small || false
  if red
    button(class=(small ? 'button button_small button_color_red': 'button button_color_red'))= text
  else
    button(class=(small ? 'button button_small' : 'button'))= text
