.button
  position relative
  overflow hidden
  width 118px
  height 35px
  font(12, #44ae9f, false, false, 400)
  font-family 'Lato Black', sans-serif
  cursor pointer
  text-transform uppercase
  background none
  border none
  border-radius 3px
  outline none

  &::before
    position absolute
    z-index -1
    top 0
    left 0
    width 116px
    height 31px
    content ''
    background #fff
    border 1px solid #4eb7a8
    border-bottom 3px solid #4eb7a8
    border-radius 3px

  &:hover::before
    background #4eb7a8
    border-color #28a290

  &:hover
    color #fff

  &:active::before
    border-color #4eb7a8

  &_small
    width 78px
    height 24px
    font-size 10px

    &::before
      width 76px
      height 20px
      content ''

  &_color_red
    color #e34a26

    &::before
      border-color #e75735

    &:hover::before
      background #e75735
      border-color #bf3e1f

    &:active::before
      border-color #e75735

  &__ripple
    position absolute
    margin auto
    background #fafafa
    border-radius 50%
    opacity .3
    animation ripple .5s linear
    transform scale(0)

@keyframes ripple
  to
    transform scale(2.5)
